<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Uploaded Images</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Uploaded Images</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
        <ul class="gallery">
            {% for image in images %}
                <li>
                    <img src="{{ url_for('static', filename='uploads/' + image.image_file) }}" alt="{{ image.image_file }}">
                    <form action="{{ url_for('delete_image', image_id=image.id) }}" method="POST" style="display:inline;">
                        <button type="submit">&times;</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('upload_image') }}">Upload more images</a>
    
    
</body>
</html>
